.submit_container {
  text-align: right;
}
.pika-row .pika-button {
  border-radius: 0;
  text-align: center;
}
.pika-table abbr {
  text-decoration: underline;
}
.event_list .row {
  display: flex;
  margin-bottom: 3px;
}
.event_list .row > span {
  margin-right: 5px;
  min-width: 145px;
}
.event_list .row button {
  margin-left: auto;
}
.event_page table th:not(:first-child) {
  font-weight: 100;
  font-size: 12px;
  text-align: center;
  padding: 3px;
}
.event_page .owner {
  font-weight: 800;
}
.event_page .event_date {
  float: right;
}
input[type="checkbox"] {
  width: 40px;
  height: 40px;
  -webkit-appearance: unset;
  appearance: unset;
  background: #feedea;
  margin: 0px 0.5px -5px;
  outline: none;
}
input[type="checkbox"]:checked {
  background: #ecf5d6;
}
input[type="checkbox"]:checked:after {
  content: '';
  display: block;
  position: relative;
  top: 10px;
  left: 17px;
  width: 10px;
  height: 17px;
  border: solid #83c33f;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.user-tr input[type="checkbox"]:before {
  content: '';
  display: block;
  position: relative;
  width: 15px;
  height: 15px;
  top: 12.5px;
  border: 1px solid #d4d2d2;
  border-radius: 3px;
  background: white;
  left: 12.5px;
}
.user-tr input[type="checkbox"]:checked:after {
  top: -7px;
}
.event_page .table_container {
  overflow: scroll;
  margin-bottom: 10px;
}
.event_page td:first-child {
  padding-right: 10px;
  vertical-align: middle;
  max-width: 200px;
  overflow: hidden;
  line-height: 18px;
}
.event_page input.input {
  min-width: 125px;
}
.event_page td, .event_page th {
  width: 40px;
}
.event_page .check_count {
  text-align: center;
  color: green;
  font-size: 12px;
}
.tabs {
  position: fixed;
  z-index: 1000;
  background: white;
  width: 100%;
}
div.event_page, div.admin_page, div.event_list {
  padding-top: 80px;
}
.tabs li a {
  padding: 1em 1em;
}
.tabs li:first-child {
  padding-left: 1em;
  padding-right: 1em;
}
.admin_page input.date.input {
  cursor: default;
}
.event_page td.spacer, .event_page th.spacer {
  width: 5px;
}
